/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin        : 0;
  padding       : 0;
  border        : 0;
  font-size     : 100%;
  font          : inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing : 0;
}

img {
  max-width: 100%;
  height   : auto;
}

/*layout*/
.wrap {
  margin        : 0 auto;
  font-family   : "noto sans tc", "noto serif tc";
  line-height   : 1.5;
  color         : #4a4a4a;
  font-size     : 17px;
  letter-spacing: 0.3px;
  width         : 1024px;
}

.nav-all {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  background     : rgba(255, 255, 230, 0.1);
}

.nav-all>h1>a {
  background : url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/mutiplePage/logo.png);
  display    : block;
  text-indent: 101%;
  white-space: nowrap;
  overflow   : hidden;
  height     : 36px;
  width      : 182px;
  margin-left: 40px;
}

.navigation {
  display        : flex;
  justify-content: space-between;
  margin-right   : 40px;
}

.navigation>li {
  padding: 0px 20px;
}

.navigation>li>a {
  color          : white;
  display        : block;
  padding        : 25px 5px;
  text-decoration: none;
  border-bottom  : 3px transparent;
}

.navigation>li>a:hover {
  color        : #00cc99;
  border-bottom: 3px solid #00cc99;
  padding      : 22px 5px 25px;
}

footer {
  padding         : 30px 40px;
  display         : flex;
  justify-content : space-between;
  background-color: #323228;
}

h5 a {
  background : url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/mutiplePage/logo.png);
  display    : block;
  text-indent: 101%;
  white-space: nowrap;
  overflow   : hidden;
  height     : 36px;
  width      : 182px;
}

h5 p {
  color        : #9b9b9b;
  text-align   : right;
  padding-right: 4px;
}

.social-media {
  display   : flex;
  align-self: center;
}

.social-media img {
  padding-left: 10px;
}